/* CUSTOM-PROPS */
:root {
  --pink-bg:#F67E7E;
  --light-blue: #79C8C7;
  --header-hero-bg:#014E56;
  --main-hero-bg:#2C6269;
  --footer-bg:#004047;
}

/* FONT-FACE  */
@font-face {
    font-family: 'Livvic';
    src: url('/fonts/Livvic-SemiBold.woff2') format('woff2'),
        url('/fonts/Livvic-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('/fonts/Livvic-MediumItalic.woff2') format('woff2'),
        url('/fonts/Livvic-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('/fonts/Livvic-Regular.woff2') format('woff2'),
        url('/fonts/Livvic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('/fonts/Livvic-Bold.woff2') format('woff2'),
        url('/fonts/Livvic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('/fonts/Livvic-BoldItalic.woff2') format('woff2'),
        url('/fonts/Livvic-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}




/* GLOBAL-STYLES  */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  color: #222;
  font-family: 'Livvic', "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}


/* FOCUS-STYLES  */
*:focus {
  outline: 3px dashed #fff;
  outline-offset: 3px;
}

/* CONTAINER  */
.container {
  max-width: 1150px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* VISUALLY-HIDDEN  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* MAIN-CONTENT  */
.main-content {
  flex-grow: 1;
}


/* BUTTON */
.button {
    display: block;
    padding: 10px 32px;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.button:hover{
  background-color: #fff;
  color: var(--footer-bg);
}

.button:active{
  opacity: 0.6;
}

.button-size{
  margin-left: 577px;
}


.button-submit {
  padding-top: 9px;
  background-color: #fff;
  color: var(--footer-bg);
}


/* SITE-HEADER */
.site-header {
  padding-top: 70px;
  background-color: var(--header-hero-bg);
}

.site-header__container {
  display: flex;
  align-items: center;
}

.site-header__img {
  width: 160px;
  height: 40px;
}

.site-header__img:hover{
  opacity: 0.8;
}

.site-header__img:active{
  opacity: 0.6;
}

.site-header__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin-left: 80px;  
}

.site-header__item:not(:last-child) {
  margin-right: 40px;
}

.site-header__item{
  /* margin-left: 40px; */
}

.site-header__link {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.site-header__link:hover{
  color: var(--pink-bg);
}

.site-header__link:active{
  opacity: 0.8;
}


/* HERO */
.hero {
  padding-top: 53px;
  padding-bottom: 182px;
  background-color: var(--header-hero-bg);
}

.hero__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__title {
  min-width: 635px;
  padding: 0px 10px 0px 0px;
  font-size: 100px;
  line-height: 100px;
  font-weight: 700;
  color: #fff;
}

.hero__title-pink {
  color: var(--pink-bg);
}

.hero__info {
  width: 100%;
  max-width: 445px;
  margin: 0;
  position: relative;
  top: -5px;
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #fff;
}

.hero__info::after{
  position: absolute;
    top: 5px;
    left: 0px;
    content: "";
    width: 50px;
    height: 4px;
    background-color: var(--light-blue);
}

.hero__img-left{
  position: absolute;
  left: -230px;
}

.hero__img-right{
  position: absolute;
  bottom: -284px;
  right: 5px;
}


/* FEATURES */
.features {
  position: relative;
  padding-top: 199px;
  padding-bottom: 140px;
  /* z-index: 10; */
  background-color: #012F34;
}


.features__container {
  position: relative;
  display: flex;
  text-align: center;
  margin-top: -40px;
}

.features__title { 
  margin-left: -17px;
  position: relative;
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  /* width: 445px; */
  /* height: 144px; */
  color:#fff;
}

.features__list {
  align-items: flex-start;
  margin-left: 153px;
  list-style: none;
}

.features__item:not(:last-child) {
  margin-bottom: 32px;
}

.features__item{
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  padding-top: 6px;
  margin-left: 39px;
  max-width: 445px;
  display: flex;
}

.features__list-heading {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: var(--pink-bg);
  margin-top: 0px;
  margin-bottom: 21px;
}

.features__wrapper{
  display: flex;
}

.features__img{
  max-width: 71px;
  height: 72px;
  object-fit: contain;
  margin-right: 0px;
}

.features__title::after{
  position: absolute;
  top: -58px;
  left: 17px;
  content: "";
  width: 50px;
  height: 4px;
  background-color: var(--pink-bg);
}

.features__list-info {
  /* width: 100%;
  max-width: 445px;
  flex-direction: column;
  height: 50px;
  font-size: 15px;
  line-height: 25px;
  font-weight: 600;
  mix-blend-mode: normal; */
  color: #fff;
  opacity: 0.8;
  margin: 0;
}

.box{
 
}

.features__right-img{
  position: absolute;
  right: -244px;
  bottom: -185px;
}
