/* CUSTOM-PROPS */
:root {
  --pink-bg:#F67E7E;
  --light-blue: #79C8C7;
  --header-hero-bg:#014E56;
  --main-hero-bg:#2C6269;
  --footer-bg:#004047;
}

/* FONT-FACE  */
@font-face {
    font-family: 'Livvic';
    src: url('/fonts/Livvic-SemiBold.woff2') format('woff2'),
        url('/fonts/Livvic-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('/fonts/Livvic-MediumItalic.woff2') format('woff2'),
        url('/fonts/Livvic-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('/fonts/Livvic-Regular.woff2') format('woff2'),
        url('/fonts/Livvic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('/fonts/Livvic-Bold.woff2') format('woff2'),
        url('/fonts/Livvic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('/fonts/Livvic-BoldItalic.woff2') format('woff2'),
        url('/fonts/Livvic-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}




/* GLOBAL-STYLES  */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  color: #222;
  font-family: 'Livvic', "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}


/* FOCUS-STYLES  */
*:focus {
  outline: 3px dashed #fff;
  outline-offset: 3px;
}

/* CONTAINER  */
.container {
  max-width: 1150px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* VISUALLY-HIDDEN  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* MAIN-CONTENT  */
.main-content {
  flex-grow: 1;
}


/* BUTTON */
.button {
    display: block;
    padding: 10px 32px;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.button:hover{
  background-color: #fff;
  color: var(--footer-bg);
}

.button:active{
  opacity: 0.6;
}

.button-size{
  margin-left: 577px;
}


.button-submit {
  padding-top: 9px;
  background-color: #fff;
  color: var(--footer-bg);
}


/* SITE-HEADER */
.site-header {
  background-color: var(--header-hero-bg);
}

.site-header__container {
  display: flex;
  align-items: center;
}

.site-header__img {
  width: 160px;
  height: 40px;
}

.site-header__img:hover{
  opacity: 0.8;
}

.site-header__img:active{
  opacity: 0.6;
}

.site-header__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.site-header__item:not(:last-child) {
  margin-right: 40px;
}

.site-header__link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.site-header__link:hover{
  color: var(--pink-bg);
}

.site-header__link:active{
  opacity: 0.8;
}


